@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
}
