@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin bg-size($width, $height) {
  width: $width;
  height: $height;
  background-size: $width $height;
}

.avatar {
  background: url("./images/avatar-default.png");
  @include border-radius(10px);
  @include bg-size(100px, 100px);
}
