<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Webdesign template" />
    <title>Webdesign</title>
</head>
<body>
    <section class="TopComponent">
        <header class="TopComponent-topBar">
            <div class="TopComponent-topBar-logo">
                <div class="TopComponent-topBar-logo-example"></div>
            </div>
            <nav class="TopComponent-topBar-nav-screen">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <div class="TopComponent-topBar-search">
                <i class="fas fa-search"></i>
                <i class="fas fa-bars"></i>
            </div>
            <div class="TopComponent-topBar-hamburger">
                <div class="TopComponent-topBar-hamburger-dropdown">
                    <i class="fas fa-bars TopComponent-topBar-hamburger-dropdown-button"></i>
                    <nav class="TopComponent-topBar-hamburger-dropdown-menu">
                        <ul>
                            <li>Home</li>
                            <li>About</li>
                            <li>Contact</li>
                            <li><i class="fas fa-search"></i></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="TopComponent-content">
            <h1 class="TopComponent-content-title">Web Design</h1>
            <div class="TopComponent-content-description">
                Fusce dapibus, tellus ac cursus commodo, tortor mauris<br /> condimentum , ut fermentum massa justo sit amet<br /> erat a ante venenatis dapibus posuere velit
            </div>
            <div class="TopComponent-content-button">Really?</div>
            <div class="TopComponent-content-buttonline"></div>
            <div class="TopComponent-content-verticalline">
                <div class="TopComponent-content-verticalline-one"></div>
                <div class="TopComponent-content-verticalline-two"></div>
            </div>
            <div class="TopComponent-content-play"><i class="far fa-play-circle"></i></div>
        </div>
    </section>
    <section class="Gallery">
        <div class="Gallery-item">
            <img src="./images/img1.jpg" />
            <div class="Gallery-item-title">Amet Condimentum</div>
            <div class="Gallery-item-description">Dolor</div>
        </div>
        <div class="Gallery-item">
            <img src="./images/img2.jpg" />
            <div class="Gallery-item-title">Lorem Cursus</div>
            <div class="Gallery-item-description">Ligula</div>
        </div>
        <div class="Gallery-item">
            <img src="./images/img3.jpg" />
            <div class="Gallery-item-title">Condimentum Ultricies</div>
            <div class="Gallery-item-description">Consectetur</div>
        </div>
        <div class="Gallery-item">
            <img src="./images/img4.jpg" />
            <div class="Gallery-item-title">Ridiculus Ornare</div>
            <div class="Gallery-item-description">Ullamcorper</div>
        </div>
    </section>
    <section class="BottomComponent">
        <div class="BottomComponent-item">
            <h4>Follow us</h4>
            <nav>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                    <li>Pinterest</li>
                    <li>YouTube</li>
                </ul>
            </nav>
        </div>
        <div class="BottomComponent-item">
            <h4>Get to know us</h4>
            <nav>
                <ul>
                    <li>About</li>
                    <li>Policies</li>
                    <li>Careers</li>
                    <li>Press</li>
                    <li>Developers</li>
                </ul>
            </nav>
        </div>
        <div class="BottomComponent-item">
            <h4>Locations</h4>
            <nav>
                <ul>
                    <li>Detroit</li>
                    <li>London</li>
                    <li>Florida</li>
                    <li>Las Vegas</li>
                    <li>California</li>
                </ul>
            </nav>
        </div>
        <div class="BottomComponent-item">
            <h4>Our mission</h4>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consecteur et. Sed posuere consectetur
        </div>
    </section>
    <section class="Footer">
        <footer class="Footer-copyrights">
            Copyright © 2016 @samiralley<br />
            dev by <a href="https://github.com/dgrochowski" target="_blank">github.com/dgrochowski</a>
        </footer>
    </section>
</body>
</html>
