@import "styles/fonts";
@import "styles/variables";
@import "styles/topComponent";
@import "styles/gallery";
@import "styles/bottomComponent";
@import "styles/footer";

* {
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
  color: $defaultLinkColor;
}

input:focus {
  outline: none;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      cursor: pointer;
    }
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  color: $defaultTextColor;
  font-size: 62.5%; // 10px
}

.u-cf::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: $breakpointXs) {
  body {
    font-size: 75%; // 12px
  }
}

//@media (min-width: $breakpointSm) {
//}

@media (min-width: $breakpointMd) {
  body {
    font-size: 87.5%; // 14px
  }
}
