.BottomComponent {
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  font-family: Georgia;
  font-style: italic;
  color: #575757;
  font-size: 14px;
  line-height: 26px;

  h4 {
    font-family: Montserrat;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    color: #151515;
    font-size: 14px;
    letter-spacing: 1px;
  }

  ul {
    margin-top: 25px;

    li {
      float: none;
    }
  }

  &-item {
    width: 80%;
    padding-bottom: 10px;
  }

  @media (min-width: 960px) {
    justify-content: center;
    align-items: inherit;
    flex-direction: row;
    padding: 89px 0;

    &-item {
      width: 20%;
    }
  }
}
