.Footer {
  width: 100%;
  background: #000;

  &-copyrights {
    text-align: center;
    padding: 35px 0;
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.1);
  }
}
