.TopComponent {
  width: 100%;
  height: 1280px;
  background-image: url("./images/hero.jpg");
  background-position: top center;
  margin: 0 auto;
  overflow: hidden;

  &-topBar {
    width: 90%;
    height: 195px;
    margin: 0 auto;
    display: flex;

    &-logo {
      width: 50%;
      padding-top: 38px;
      display: flex;
      justify-content: center;

      &-example {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 4px solid #FFF;
      }
    }

    &-nav-screen {
      display: none;
    }

    &-search, &-hamburger {
      width: 50%;
      padding-top: 43px;
      font-size: 24px;
      color: #FFF;
      letter-spacing: 41px;
      text-align: center;
    }

    &-search {
      display: none;
    }

    &-hamburger {
      &-dropdown {
        display: inline-block;
        cursor: pointer;
        padding: 0 10px;

        &-button {

        }

        &-menu {
          display: none;
          font-size: 18px;
          letter-spacing: 1px;
          text-shadow: 1px 1px 1px #000;

          ul {
            li {
              float: none;
              margin-top: 15px;
            }
          }
        }

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }

        &:hover > svg {
          transform: rotate(45deg);
          transition-duration: 0.5s;
        }

        &:hover &-menu {
          display: block;

          li {
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-title {
      text-align: center;
      font-family: PlayfairDisplay;
      color: #FFF;
      margin-top: 60px;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 10em;
    }

    &-description {
      text-align: center;
      font-size: 1.4285em;
      line-height: 34px;
      color: #FFF;
      font-weight: 300;
      margin-top: 4px;
    }

    &-button {
      font-size: 14px;
      font-weight: 700;
      color: #FFF;
      text-transform: uppercase;
      border-radius: 50px;
      background: #da7074;
      padding: 15px 45px;
      margin: auto;
      margin-top: 90px;
      text-align: center;
      letter-spacing: 2px;
      z-index: 10;
    }

    &-buttonline {
      width: 450px;
      height: 1px;
      background: #da7074;
      margin: auto;
      margin-top: -24px;
      z-index: 1;
    }

    &-verticalline {
      margin: auto;
      margin-top: 90px;
      width: 6px;
      display: flex;
      justify-content: space-between;

      &-one, &-two {
        width: 1px;
        height: 191px;
        background: #da7074;
      }

      &-two {
        margin-top: 20px;
      }
    }

    &-play {
      margin: auto;
      margin-top: 27px;
      color: #FFF;
      font-size: 80px;
      font-weight: 400;
      opacity: 0.8;
    }

    &-play:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  @media (min-width: 960px) {
    &-topBar {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      &-logo {
        width: 25%;
        justify-content: left;
        padding-top: 78px;
      }

      &-nav-screen {
        display: block;
        width: 50%;
        text-transform: uppercase;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        padding-top: 88px;
        letter-spacing: 1px;

        ul {
          display: flex;
          justify-content: center;

          li {
            margin: 0 23px;
          }
        }
      }

      &-search {
        display: block;
        width: 25%;
        text-align: right;
        padding-top: 83px;
      }

      &-hamburger {
        display: none;
      }
    }

    &-content {
      &-title {
        margin-top: 220px;
      }
    }
  }
}
